.poke_info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: auto;
    box-shadow: 24px;
    border-radius: 5px;
    padding: 30px;
    background-color: ghostwhite;
}